
    <section style="padding:2re 9%;">
        <div class="title">Points</div>
        <div class="table">
            {{#each user}}
            <div class="member">
                <div class="name">
                    <span>{{@index}}</span>
                    
                    <span>{{name}}</span>
                </div>
                <div class="branch">
                    <span>{{branch}}</span>
                </div>
                <div class="score">
                    <span>{{team}}</span>
                    <span>{{points}}</span>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <br><br><br>
    <br><br><br>

